target/
!**/src/main/**/target/
!**/src/test/**/target/
out/
!**/src/main/**/out/
!**/src/test/**/out/
build/
!**/src/main/**/build/
!**/src/test/**/build/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

**/target/
project/target/
project/project/
/.idea
.metals/
.vscode/
.history/
.bloop/
metals.sbt
.DS_Store
.bsp/

logs/
