<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%level] %logger: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="API_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/api.log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="tofu.logging.ELKLayout" />
        </encoder>
    </appender>

    <root level="OFF">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.app.api.log" level="INFO" additivity="false">
        <appender-ref ref="API_LOG"/>
    </logger>

    <logger name="com.app.app.log" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>